header{
  width: 100%;
  padding: 0 2rem;
  display: flex;
  justify-content: center;
}
nav {
  max-width: 1440px;
  width: 100%;
  padding: 2rem 0 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #eee;
}
.logo{
  margin-right: 3.5rem;
}
.nav-list {
  display: flex;
  column-gap: 2rem;
}
.nav-list .nav-item a{
  font-weight: 400;
  color: var(--Dark-grayish-blue);
  transition: color .3s ease;
  padding: 3rem 0;
  transition: all .3s;
}
.nav-list .nav-item a:hover{
  font-weight: 700;
  border-bottom: 3px solid var(--Orange);
}
.nav-icons {
  display: flex;
  align-items: center;
  column-gap: 2rem;
  margin-left: auto;
}
.profile {
  width: 50px;
  cursor: pointer;
}
.profile:hover{
  border: 1px solid var(--Orange);
  border-radius: 50%;
}
.menu {
  display: none;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .logo {
    margin-right: 2rem;
  }
  .nav-list{
    gap: 2rem;
  }
  .profile{
    width: 50px;
  }
}
@media screen and (max-width: 768px) {
  nav{
    border-bottom: none;
    padding-bottom: 2rem;
  }
  .nav-list {
    display: none;
  }
  .menu {
    display: block;
  }
  .logo {
    padding-left: 1.5rem;
  }
  .nav-icons {
    gap: 1rem;
  }
  .profile {
    width: 30px;
  }
}
